body {
    font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #1A1A1A; /* Cor de fundo cinza escuro para o corpo do site */
    color: #FFFFFF; /* Cor padrão do texto em branco */
}

.navbar {
    margin-bottom: 50px;
    margin-bottom: 0;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav .nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

/* Foto de Tela Cheia */
/* Foto de Tela Cheia */
.fullscreen-photo {
    position: relative;
    height: 70vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.photo-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    transition: opacity 1s ease-in-out;
}

.photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.photo-container img.active {
    opacity: 1;
}

/* Seção de Eventos */
#eventos h2{
    color: #8A2BE2; /* Título em roxo */
    
}
#eventoss {
    background-color: rgb(0, 0, 0);
    padding: 30px 0;
    width: 100%;
}
#eventoss h2{
    color: #8A2BE2; /* Título em roxo */
    
    
}
#eventoss h3{
    color: #ffffff; /* Título em roxo */
    margin: 22px;
}
#eventos {
    background-color: rgb(51, 51, 51);
    padding: 30px 0;
    width: 100%;
}
#eventos .container-fluid {
    padding-left: 0;
    padding-right: 0;
}
#eventos img {
    max-width: 100%;
    height: auto;
    transition: transform 0.2s ease;
}

#eventos img:hover {
    transform: scale(1.03);
}
#eventos .img-fluid {
    border: 2px solid #eeeaf1; /* Borda roxa ao redor das imagens */
}
/* Estilo para o texto em movimento */
.moving-text {
    display: inline-block;
    white-space: nowrap;
    animation: moveText 4s linear infinite;
    font-size: 2rem;
    font-weight: bold;
    color: #fff; /* Mude a cor conforme o design do site */
    position: relative; /* Mantém o texto na posição correta */
}

/* Animação para mover o texto pela tela */
@keyframes moveText {
    0% {
        transform: translateX(100%); /* Começa fora da tela à direita */
    }
    100% {
        transform: translateX(-100%); /* Termina fora da tela à esquerda */
    }
}






/* Seção de Vídeos */

#videos-eventos iframe {
    width: 100%;
    height: 315px;
    border: none;
}
/* Estilo para a seção de vídeos */
#videos-eventos h2 {
    color: #8A2BE2; /* Título em roxo */
}

#videos-eventos{
    background-color: #000000;
}




.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.embed-responsive .embed-responsive-item {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
/* Ajustes no Footer */


footer {
    margin-top: auto;
    background-color: #000000; /* Fundo preto */
    color: #FFFFFF; /* Texto branco */
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

footer a {
    color: #8A2BE2;
    text-decoration: none;
}

footer a:hover {
    color: #FFFFFF;
}

