body {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    }
.navbar {
    margin-bottom: 20px;
    margin-bottom: 0;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav .nav-item {
    margin-left: 15px;
    margin-right: 15px;
}
/* Seção Sobre Mim */
.image-container {
    position: relative;
    overflow: hidden;
}
.image-container img {
    transition: transform 0.5s ease;
}
.image-container:hover img {
    transform: rotateY(15deg);
}
.carousel-caption {
    bottom: 20px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #000;
}
.sobre-mim-texto {
    font-family: 'Merriweather', sans-serif;
}
